<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Mars Mission Index</h1>

    <ul>
      <% for (let i = 0; i < mission.length; i++) { %>
        <li>
          <a href= "/mission/<%= i %>">
            <%= mission[i].name %>
          </a>
        </li>
      <% } %>
    </ul>




  </body>
</html>
