
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> <%= pageTitle %> </h1>


	<% for(let i = 0; i < marsMissions.length; i++) { %>
		 <li><a href="/marsMissions/<%= i %>"><%= marsMissions[i].name %></a></li> 
	<% } %>
	</ul>
</body>
</html>