<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>show</h1>






	 <%= marsMission.name; %> 

	 <%= marsMission.launchDate; %>

	  <%= marsMission.operator; %>

	  <%= marsMission.Rover; %>

</body>
</html>