<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>show page for Missions</h1>





	 <%= mission.name; %> 

	 <%= mission.launchDate; %>

	 <%= mission.operator; %>

	 <%= mission.Rover; %>

</body>
</html>